In [1]:
print("Hello World! This is a sample Python script.")

Hello World! This is a sample Python script.

>Variables

In [2]:
x = 10
y = "hello"
y = 12
z = str(3)
print(x, y, z)
print(type(x), type(y), type(z))

10 12 3
<class 'int'> <class 'int'> <class 'str'>

>Many Values to Multiple Variables
>one value to multiples

In [3]:
x ,z ,y = 5, "John", 3.2
print(x, y, z)
x = y = z = "Orange"
print(x, y, z)

5 3.2 John
Orange Orange Orange

>Gloabl variables and Local variables

In [4]:
x = "Haseeb"
def myfunc():
    x = "Talha"
    print("i am " + x)

myfunc()
print("i am " + x)

i am Talha
i am Haseeb

>Global inside a variable

In [5]:
#Create a global variable inside a function
x = "Haseeb"
def myfunction():
    global x
    x = "Talha"
    print("i am " + x)

myfunction()
print("i am " + x)

i am Talha
i am Talha

>Complex numbers

In [ ]:
x = 3+5j
print(x, type(x))

(3+5j) <class 'complex'>

>Random Module

In [7]:
import random
print(random.randrange(20, 100))

57

>Multiline String

In [8]:
line = '''Hello,Lets Start a new journey as python developer.
I am excited that you are here to learn with me.
This is a multiline string example.'''

print(line)

Hello,Lets Start a new journey as python developer.
I am excited that you are here to learn with me.
This is a multiline string example.

>Strings are Array

In [9]:
hello = "Hello, World!"
print(hello[1])

e

>Loop through String

In [10]:
hello = "Hello, World!"
for x in hello:
    print(x)

H
e
l
l
o
,

W
o
r
l
d
!

>String length

In [11]:
hello = "Hello, World!"
print(len(hello))

13

>Check String

In [12]:
hello = "Hello, World!Good days are yet to come"
print("World" in hello)

True

>Check String (If not)

In [13]:
hello = "Hello, World!Good days are yet to come"
print("World" not in hello)

False

>Check String (If not) with if

In [15]:
hello = "Hello, World!Good days are yet to come"
if "World" in hello:
    print("Yes, 'World' is present.")
if "school" not in hello:
    print("No, 'school' is not present.")

Yes, 'World' is present.
No, 'school' is not present.

>Sting Slicing

In [16]:
word = "Hello, World!"
#Slice from start to position 5
print(word[:5])
#Slice from position 2 to position 5
print(word[2:5])
#Slice from position 2 to the end
print(word[2:])
#Slice from the start to position -5,starts from the end 
print(word[:-5])

Hello
llo
llo, World!
Hello, W

>String Modifying

In [19]:
#uper case
a = "my name is talha "
#upper case
print(a.upper())
#lower case
print(a.lower())
#Remove whitespace
print(a.strip())
#Replace string
print(a.replace("e", "m"))
#Split string
print(a.split(" "))

MY NAME IS TALHA
my name is talha
my name is talha
my namm is talha
['my', 'name', 'is', 'talha', '']

>String Concatination

In [20]:
a = "my name is"
b = "talha"
c = a + " " + b
print(c)

my name is talha

>f String

In [25]:
word = "Hello, World!"
print(f"we welcome you, {word}")
#placeholder and modifiers 
age = 36
txt = f"My name is John, and I am {age} years old"
print(txt)
#modifiers
txt = f"jhon age can not be like this {age:.2f}!"
print(txt)
txt = f"jhon age is {2*12}!"
print(txt)

we welcome you, Hello, World!
My name is John, and I am 36 years old
jhon age can not be like this 36.00!
jhon age is 24!

>Python List

In [ ]:
list = ["apple", "banana", "cherry","banana"]
print(list)
#List length
print(len(list))
#Access items
print(list[1])
print(list[-2])

['apple', 'banana', 'cherry', 'banana']
4
banana
cherry

>Muti data List

In [31]:
#list can have muti data types
homelist = ["apple", "banana", "cherry", 20, True, 5.5 ,"apple"]
print(homelist)
print(type(homelist))
print(homelist[3:5])
#Check if item exists
if "apple" in homelist:
    print("Yes, 'apple' is present.")

['apple', 'banana', 'cherry', 20, True, 5.5, 'apple']
<class 'list'>
[20, True]
Yes, 'apple' is present.

>modify list

In [33]:
homelist = ["apple", "banana", "cherry", "orange"]
#change a single item
homelist[1] = "grapes"
print(homelist)
#chage a range of items
homelist[1:3] = ["kiwi", "mango"]
print(homelist)
#Insert items
homelist.insert(2, "watermelon")
print(homelist)
#Append items
homelist.append("apple")
print(homelist)

['apple', 'grapes', 'cherry', 'orange']
['apple', 'kiwi', 'mango', 'orange']
['apple', 'kiwi', 'watermelon', 'mango', 'orange']
['apple', 'kiwi', 'watermelon', 'mango', 'orange', 'apple']

>Extend List

In [35]:
homelist = ["apple", "banana", "cherry"]
wordlist = ["mango", "kiwi", "orange"]
# extend the homelist wiht wordlist
homelist.extend(wordlist)
print(homelist)

#Add any iterable (tuples, sets, dictionaries etc.)
tuple1 = ("tuple1", "tuple2")
homelist.extend(tuple1)
set1 = {"set1", "set2"}
homelist.extend(set1)
print(homelist)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'tuple1', 'tuple2', 'set1', 'set2']

>Removing from the list

In [ ]:
homelist = ["apple", "banana", "cherry", "orange", "banana", "kiwi", "mango"]
#Remove specific item
homelist.remove("banana")
print(homelist)
#Remove last item
homelist.pop()
print(homelist)
#Remove item at specific index using pop
homelist.pop(1)
print(homelist)
#Remove item at specific index using del
del homelist[0]
print(homelist)
#Clear the list
homelist.clear()
#delete the list completely 
del homelist

['apple', 'cherry', 'orange', 'banana', 'kiwi', 'mango']
['apple', 'cherry', 'orange', 'banana', 'kiwi']
['apple', 'orange', 'banana', 'kiwi']
['orange', 'banana', 'kiwi']

>Looping through a List

In [40]:
homelist = ["apple", "banana", "cherry"]
#print all items using for loop
for x in homelist:
    print(x)

print("----")
#print all items by their index number using for loop
for i in range(len(homelist)):
    print(homelist[i])

print("----")
#print all items using while loop
z = 0
while z < len(homelist):
    print(homelist[z])
    z += 1

apple
banana
cherry
----
apple
banana
cherry
----
apple
banana
cherry

>Sorting List

In [41]:
homelist = ["apple", "banana", "cherry", "orange", "banana"]
#sort the list alphabetically
homelist.sort()
print(homelist)
#sort the list in reverse alphabetical order
homelist.sort(reverse = True)
print(homelist)

numberlist = [100, 50, 65, 82, 23]
numberlist.sort()
print(numberlist)

['apple', 'banana', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'banana', 'apple']
[23, 50, 65, 82, 100]

>Customize Sort Functions

In [44]:
homelist = ["apple", "banana", "cherry" , "Orange", "banana"]
#sort the list case insensitively
homelist.sort(key = str.lower)
print(homelist) 

numberlist = [100, 50, 65, 82, 23]
#sort the list 
numberlist.sort()
print(numberlist)

#reverse the order of the list
numberlist.reverse()
print(numberlist)

['apple', 'banana', 'banana', 'cherry', 'Orange']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

>Copy List

In [46]:
homelist = ["apple", "banana", "cherry"]
textlist = homelist.copy()
print(textlist)

['apple', 'banana', 'cherry']

>Tuples

In [50]:
hometuple = ("apple", "banana", "cherry")
print(textlist)
#tuple with one item
thistuple = ("apple",)
print(thistuple)

['apple', 'banana', 'cherry']
('apple',)

>Add tuple to a tuple

In [51]:
hometuple = ("apple", "banana", "cherry")
thistuple = ("orange",)
hometuple = hometuple + thistuple
print(hometuple)

('apple', 'banana', 'cherry', 'orange')

>Sets

In [52]:
homeSet = {"apple", "banana", "cherry"}
print(homeSet)

{'banana', 'apple', 'cherry'}

>modify sets

In [59]:
homeSet = {"apple", "banana", "cherry"}
#add one item
homeSet.add("orange")
print(homeSet)
#add multiple items by updating the whole list
numberSet = {1, 2, 3, 4, 5}
homeSet.update(numberSet)
print(homeSet)
#remove item
homeSet.remove("banana")
print(homeSet)

{'banana', 'orange', 'apple', 'cherry'}
{1, 2, 3, 4, 5, 'apple', 'cherry', 'orange', 'banana'}
{1, 2, 3, 4, 5, 'apple', 'cherry', 'orange'}

>Dictionary

In [5]:
homeDic = {
    "name":"Mehtab",
    "houseNumber" : 123,
    "members" : ["Talha", "Adeeb", "noor"],
}

print(homeDic['name'])
print(homeDic['members'])
print(homeDic['houseNumber'])

Mehtab
['Talha', 'Adeeb', 'noor']
123

In [20]:
homeDic = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(homeDic)
print(homeDic.keys())
print(homeDic.values())
print(homeDic.get("age"))
print("------")
homeDic["Hello"] = "Welcome"
print(homeDic)
print(type(homeDic))

x = homeDic.items()
print("------")
print(x)
print(type(x))

print("------")
homeDic["age"] = 31
print(x)

{'name': 'John', 'age': 30, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])
30
------
{'name': 'John', 'age': 30, 'city': 'New York', 'Hello': 'Welcome'}
<class 'dict'>
------
dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('Hello', 'Welcome')])
<class 'dict_items'>
------
dict_items([('name', 'John'), ('age', 31), ('city', 'New York'), ('Hello', 'Welcome')])

>Modify Dictionary

In [ ]:
homeDic = {
    "name":"Mehtab",
    "houseNumber" : 123,
    "members" : ["Talha", "Adeeb", "noor"],
    "address" : {"street": "abc street", "city": "karachi", "country": "Pakistan"}
}
#add or update dictionary
homeDic.update({"name":"Talha"})
homeDic.update({"bell": True})
print(homeDic)

#remove the dictionary item
homeDic.pop("houseNumber")
del homeDic["members"]
homeDic.clear()
del homeDic
print(homeDic)

{'name': 'Talha', 'houseNumber': 123, 'members': ['Talha', 'Adeeb', 'noor'], 'address': {'street': 'abc street', 'city': 'karachi', 'country': 'Pakistan'}, 'bell': True}
{'name': 'Talha', 'address': {'street': 'abc street', 'city': 'karachi', 'country': 'Pakistan'}, 'bell': True}

>Loop through the Dictionaries

In [28]:
homeDic = {
    "name":"Mehtab",
    "houseNumber" : 123,
    "members" : ["Talha", "Adeeb", "noor"],
}
#print All the keys in the dictionary one by one
for x in homeDic:
    print(x)

print("------")
#print All the values in the dictionary one by one
for x in homeDic:
    print(homeDic[x])

print("------")
for x in homeDic.values():
    print(x)

print("------")
#lets iterate both keys and values one by one
for x,y in homeDic.items():
    print(x, y)

name
houseNumber
members
------
Mehtab
123
['Talha', 'Adeeb', 'noor']
------
Mehtab
123
['Talha', 'Adeeb', 'noor']
------
name Mehtab
houseNumber 123
members ['Talha', 'Adeeb', 'noor']